body {
    min-height:100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: black;
    font-family: "Open Sans", sans-serif;
}
.h1 {
    text-shadow: 5px 10px black;
}
.hidden {
    display: none;
}
.start {
    display: block;
    width: 40vw;
    color: white;
    padding: 15px;
    background: rgba(50, 49, 49, 0.442);
    border: 2px solid rgb(224, 0, 224);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    margin: 20px auto;
}
.showkeys {
    width:80vw;
    padding: 0px 15px;
    margin: 0px auto;
    overflow-x: hidden
}

.successBox {
    margin: 0 auto;
    width: 100px;
    height:150px;
    padding:20px;
    border:2px solid rgb(224, 0, 224);
    background: rgba(23, 0, 87, 0.301);
    backdrop-filter: blur(10px);
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.centered {
    margin: 0 auto;
}
p {
    font-size: 20px;
}
.text-center {
    text-align: center;
}
.song-button {
    margin-top: 10px;
    padding: 10px;
    color:white;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.28);
    border-radius: 0px;
    box-shadow: none;
    border: 2px solid rgb(97, 0, 97);
    transition: border 0.5s ease;
}
.song-button:hover {
    cursor: pointer;
    border: 2px solid yellow;
}
.score {
    font-weight: bold;
    text-shadow: 2px 2px black;
}
.score span {
    float: right;
    font-weight: bold;
    color: rgb(221, 236, 0);
}
.hard, .easy, .medium {
    font-weight: bold;
}
.hard {
    color: red;
}
.easy {
    color: rgb(0, 202, 0);
}
.medium {
    color: rgb(255, 187, 0);
}
hr {
    border-color: purple;
}
.giveupbutton {
    display:inline-block;
    margin-top: 200px;
    padding: 10px 20px;
    color:white;
    font-weight: bold;
    font-size:25px;
    background: rgba(74, 0, 138, 0.63);
    text-decoration: none;
    border-radius: 0px;
    box-shadow: none;
    border: 2px solid rgb(255, 251, 0);
    transition: box-shadow 0.5s ease;
}
.song-select {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 30px;
    color: rgb(226, 0, 226);
    text-shadow: 1px 3px rgb(53, 2, 81);
}
.scoreh2 {
    display:inline-block;
    color: white;
    padding: 5px 15px;
    background: rgba(0, 0, 0, 0.477);
}
#score {
    color: rgb(255, 110, 243);
    text-shadow: 2px 5px rgb(146, 51, 255);
    padding: 0 5px;
}
.leaderboard-text span {
    color: yellow;
    text-shadow: rgb(223, 70, 0);
}
hr {
    margin-top: 25px;
}
#keyBar {
    width: 50px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    padding: 20px;
}
.showkeys p.neutral {
    font-size: 50px;
    z-index: 10;
    color: white;
    font-weight: bold;
    text-shadow: 5px 10px rgb(53, 2, 81);
    background: rgba(35, 0, 90, 0.623);
    border: 2px solid rgb(224, 0, 224);
    margin: 0;
}
.getready {
    position: absolute;
    top: 0;
    left:0;
    display:none;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    font-weight: bold;
    margin: 0;
}

@media (max-width: 1024px) {
    .start {
        width: 80%;
    }
}